<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Configurações</title>
    <link rel="icon" type="image/png" href="/static/logo_raw.png"/>
    <script src="https://kit.fontawesome.com/70f7bca1e7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cssreset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/messages.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/settings.css') }}">
</head>
<body>
<header class="menu">
    <a href="{{ url_for('page_overview') }}">
        <i title="Inicio" class="fas fa-home"></i>
    </a>
    <a href="{{ url_for('page_logs') }}">
        <i title="Registros" class="fas fa-sticky-note"></i>
    </a>
    <div class="right-content">
        <a href="{{ url_for('page_settings') }}">
            <i title="Configurações" class="fas fa-cog"></i>
        </a>
        <a href="{{ url_for('logout') }}">
            <i title="Sair" class="fas fa-sign-out-alt"></i>
        </a>
    </div>
</header>
<nav>
    <section class="messages">
        <p class="error_message">{{ error_message }}</p>
        <p class="success_message">{{ success_message }}</p>
    </section>
    <section>
        <form method="post" action="">
            <input type="hidden" name="user_update_type" value="username_and_email">
            <h2 class="sectiontitle">
                Atualização cadastral
            </h2>
            <table class="formulario">
                <tbody>
                <tr>
                    <td>
                        <label for="user_username">Username</label>
                        <div class="helpbox">
                            <i class="fas fa-question-circle" aria-hidden="true"></i>
                            <p class="helptext">Nome do usuário é unico e serve para o usuário se conectar com site.</p>
                        </div>
                    </td>
                    <td>
                        <input id="user_username" name="user_username" type="text" value="{{ user.use_username }}" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="user_email">E-mail</label>
                        <div class="helpbox">
                            <i class="fas fa-question-circle" aria-hidden="true"></i>
                            <p class="helptext">E-mail serve para o envio de notificações sobre acontecimentos de eventos importantes (em desenvolvimento)</p>
                        </div>
                    </td>
                    <td>
                        <input id="user_email" name="user_email" type="email" value="{{ user.use_email if user.use_email else '' }}">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="user_password">Senha</label>
                    </td>
                    <td>
                        <input id="user_password" name="user_password" type="password" required>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" value="Atualizar cadastro">
                    </td>

                </tr>
                </tbody>
            </table>
        </form>
    </section>

    <section>
        <form method="post" action="">
            <input type="hidden" name="user_update_type" value="new_password">
            <h2 class="sectiontitle">
                Alterar senha
            </h2>
            <table class="formulario">
                <tbody>
                <tr>
                    <td>
                        <label for="user_update_password">Senha antiga: </label>

                    </td>
                    <td>
                        <input id="user_update_password" name="user_password" type="password" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="user_new_password">Nova senha: </label>

                    </td>
                    <td>
                        <input id="user_new_password" name="user_new_password" type="password" required>
                    </td>
                </tr>
                <tr>
                    <td>

                        <label for="user_new_password_confirm">Confirmação nova senha: </label>
                    </td>
                    <td>
                        <input id="user_new_password_confirm" name="user_new_password_confirm" type="password" required>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" value="Atualizar senha">
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </section>
</nav>
</body>
</html>